 html,
 body {
     height: 100%;
     margin: 0;
     align-items: center;
     justify-content: center;
     background-color:rgb(248, 235, 213);
 }
.top-bar {
    background-color: #33333358;
    color: #fff;
    padding: 3vh;
    text-align: center;
     top: 0;
     left: 0;
     width: 100%;
     box-sizing: border-box;
 }

.top-bar h1 {
    font-size: 7vh;
    margin: 0;
}
 .container {
     display: flex;
 }
 .left {
    flex: 7;
    left: -20vh;
    margin: 10vh;
     padding: 2vh;
     border-radius: 2vh;
     background-color:rgb(219, 197, 142);

 }
 .right {
    flex: 3;
    display: block;
    width: 25%;
     border: 2px solid #ff0000;
 }

 #video {

     width: 100%;
 }