
.bubble1 {
    position: relative;
    padding: 20px 12px;
    font-family:HYLeMiaoTi; 
    font-size: 45px;
    line-height: 40px;
    top: calc(10%);
    left: calc(65%);
    color: #c0e3ff;
    background: #122648;
    border: 1px solid #4e637e;
    border-radius: 10px;
    opacity: 0;
  }
 
  .bubble1::before,
  .bubble1::after {

    position: absolute;
    left: -20px;
    top:24px;
    display: block;
    font-size: 0;
    line-height: 0;
    border-color: #4e637e #4e637e transparent transparent; 
    border-style: solid;
    border-width: 10px;
    content: "";
  }  
  
  .bubble1::after {
    left: -17px;
    top:25px;
    border-color: #122648 #122648 transparent transparent;
  }
 
  

  .bubble2 {
    position: relative;
    padding: 20px 12px;
    font-family:HYLeMiaoTi; 
    font-size: 45px;
    line-height: 40px;
    top: calc(10%);
    left: calc(16%);
    color: #c0e3ff;
    background: #122648;
    border: 1px solid #4e637e;
    border-radius: 10px;
    opacity: 0;
  }


  .bubble2::before,
  .bubble2::after {

    position: absolute;
    right: -20px;
    top:25px;
    display: block;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #4e637e #4e637e; 
    border-style: solid;
    border-width: 10px;
    content: "";
  }  
  
  .bubble2::after {
    right: -17px;
    top:24px;
    border-color:transparent transparent #122648 #122648 ;
  }


  #text1{

    animation: bubble 2s linear 0s 1 normal forwards;
  }
  #text2{
    margin-top: calc(3%);
    margin-left: calc(4%);
    animation: bubble 2s linear 1.5s 1 normal forwards;
  }
  #text3{
    margin-top: calc(-30%);
    margin-right: calc(2%);
    animation: bubble 2s linear 1s 1 normal forwards;
  }
  #text4{
    margin-top: calc(3%);
    margin-right: calc(3%);
    animation: bubble 2s linear 2s 1 normal forwards;
  }
  #text5{
    margin-top: calc(3%);
    margin-right: calc(3%);
    animation: bubble 2s linear 2.5s 1 normal forwards;
  }


  @keyframes bubble {
    0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubble1:hover{
  cursor:pointer;
}
.bubble2:hover{
  cursor:hand;
}
/* 
.man{
  animation: man 1s linear 20s 1 normal forwards;
}
@keyframes man {
100% {
  opacity: 0;
}
} */