#textDiv {
  z-index: 2;
    width: 60%;
    cursor: pointer;
    height: 10vh;
    position: fixed;
    padding: 5vh 2vh;
    font-family:HYLeMiaoTi; 
    font-size: 3vw;
    line-height: 3vw;
    top:75vh;
    left: 45vh;

    color: #122648;
    background: #c2d9e9;
    border: 0.5vh solid #3fffef;
    border-radius: 1vh;
    opacity: 0.85;
    overflow: hidden;
  }

  #dynamicTextDiv{
    width: 6vw;
    height: 5vh;
      position: fixed;
      padding: 2vh 1vh;
      font-family: HYLeMiaoTi;
      font-size: 3vw;
      line-height: 3vw;
      top: 64vh;
      right: 32vh;

      color: #122648;
        background: #c2d9e9;
        border: 0.5vh solid #3fffef;
        border-radius: 1vh;
        opacity: 0.85;
        overflow: hidden;
    
  }
  #chosenDiv{
    position: r;
    width: 150vh;
    height: 70vh;
    margin: 1vh;
    border: 0.1vh solid #2c80ff;
    border-radius: 1vh;
    background-color: transparent;
    backdrop-filter: blur(1vh);
    z-index: 5;

}
.bubble{
  margin: 8vh;
    display: inline-block;
  height: 6vh;
  font-size: 2vw;
  font-family:HYLeMiaoTi; 
  color: #78ffdd;
  background: #1a4c96;
  border: 0.2vh solid #86f3ff;
  border-radius: 2vh;
  opacity: 0.7;
  margin-bottom: 2vh;
    /* 设置子div之间的垂直间距 */
    margin-right: 3vh;
    /* 设置子div之间的水平间距 */

}
#text1{
  display: inline-block;
  position: absolute;
  top:2vh;
  left:40vh;
}
#text2 {
  display: inline-block;
  position: absolute;
  top: 8vh;
}
#text3 {
  display: inline-block;
  position: absolute;
  top:40vh;
  right: 15vh;
  
}

#endMarker {
  position: fixed;
  z-index: 2;
  width: 0;
  height: 0;
  margin:auto;
  top:90vh;
  left:155vh;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-top: 3vh solid #00ffcc;
  animation: jump 0.5s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1vh);
  }
}

#textContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #122648;
  color: white;
}

#textBox {
  height: 100%;
  overflow-y: auto;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 6;

}


.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.btn {
  margin-bottom: 7vh;
  display: inline-block;
  padding: 2vh 8vh;
  text-decoration: none;
  position: relative;
}

.btn1 {
  position: relative;
  color: #fff;
  background: #17A086;
  border: 1px solid #17A086;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s
}

.btn1:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  bottom: -15px;
  right: -15px;
  background: inherit;
  z-index: -1;
  opacity: 0.5;
  -webkit-transform: scale3d(.6, .4, 1);
  transform: scale3d(.6, .4, 1);
  display: none\9;
}

.btn1:hover {
  background: #1DCBA8;
  border-color: #1DCBA8;
  -webkit-transition: background-color .1s .3s, color .1s .3s;
  transition: background-color .1s .3s, color .1s .3s;
  -webkit-animation: anim-moema-1 .3s forwards;
  animation: anim-moema-1 .3s forwards
}

.btn1:hover:before {
  -webkit-animation: anim-moema-2 .3s .3s forwards;
  animation: anim-moema-2 .3s .3s forwards;
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(.8, .8, 1);
    transform: scale3d(.8, .8, 1)
  }

  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(.8, .8, 1);
    transform: scale3d(.8, .8, 1)
  }

  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}