.man{
  display: inline-block;
  height: 8vh;
  font-family: HYLeMiaoTi;
  font-size: 3.5vw;
  line-height: 3.5vw;
}
.bubble1 {
    position: fixed;
    padding: 2.5vh 2vh;
    left: 135vh;
    color: #c0e3ff;
    background: #122648;
    border: 1px solid #4e637e;
    border-radius: 10px;
    opacity: 0;
  }
 
  .bubble1::before,
  .bubble1::after {
    position: absolute;
    left: -3.5vh;
    top:3.2vh;
    border-color: #4e637e #4e637e transparent transparent; 
    border-style: solid;
    border-width: 2vh;
    content: "";
  }  
  
  .bubble1::after {
    left: -3vh;
    top:3vh;
    border-color: #122648 #122648 transparent transparent;
  }
 
  

  .bubble2 {
    position: fixed;
    padding: 2.5vh 2vh;
    left: 2vh;
    color: #c0e3ff;
    background: #122648;
    border: 1px solid #4e637e;
    border-radius: 10px;
    opacity: 0;
  }


  .bubble2::before,
  .bubble2::after {
    position: absolute;
    right: -20px;
    top:25px;
    display: block;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #4e637e #4e637e; 
    border-style: solid;
    border-width: 10px;
    content: "";
  }  
  
  .bubble2::after {
    right: -17px;
    top:24px;
    border-color:transparent transparent #122648 #122648 ;
  }


  #text1{
    top: 5vh;
    animation: bubble 2s linear 0s 1 normal forwards;
  }
  #text2{
    top: 22vh;
    margin-left: calc(8%);
    animation: bubble 2s linear 1.5s 1 normal forwards;
  }
  #text3{
    top: 68vh;
    margin-left: calc(4%);
    animation: bubble 2s linear 1s 1 normal forwards;
  }
  #text4{
    top: 45vh;
    margin-left: calc(10%);
    animation: bubble 2s linear 2s 1 normal forwards;
  }
  #text5{
    color: #c90000;
    top: 70vh;
    margin-left: calc(6%);
    animation: bubble 2s linear 2.5s 1 normal forwards;
  }


  @keyframes bubble {
    0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubble1:hover{
  cursor:pointer;
}
.bubble2:hover{
  cursor:pointer;
}

#text1:focus{
  animation: rebubble 3s ease-out 0s 1 normal forwards;
}

#text2:focus{
  animation: rebubble 3s ease-out 0s 1 normal forwards;
}

#text3:focus{
  animation: rebubble 3s ease-out 0s 1 normal forwards;
}

#text4:focus{
  animation: rebubble 3s ease-out 0s 1 normal forwards;
}


@keyframes rebubble {
  0% {
    opacity: 1;
}
50% {
  opacity: 0;
}
100%{
  opacity: 1;
}
}


/* AI机器人部分 */
#AI{
  display: none;
  opacity: 0;
}
#robot{
  width: 13%;
  position: fixed;
  top: calc(65%);
  left: calc(15%);
  z-index: 1;

}

.bubble3 {
  position: relative;
  padding: 20px 12px;

  margin-top: calc(38%);
  left: calc(30%);
  color: #122648;
  background: #c2d9e9;
  border: 1px solid #3fffef;
  border-radius: 10px;
 
}

.bubble3::before,
.bubble3::after {

  position: absolute;
  left: -20px;
  top:24px;
  display: block;
  font-size: 0;
  line-height: 0;
  border-color: #3fffef #3fffef transparent transparent; 
  border-style: solid;
  border-width: 10px;
  content: "";
}  

.bubble3::after {
  left: -17px;
  top:25px;
  border-color: #c2d9e9 #c2d9e9 transparent transparent;
}
.bubble3:hover{
  cursor:pointer;
}

#AI{
  animation: bubble 2s linear 0s 1 normal forwards;
}

