#textDiv {
    height: calc(20%);
    position: fixed;
    padding: 80px 40px;
    font-family:HYLeMiaoTi; 
    font-size: 90px;
    line-height: calc(100%);
    text-align: center;
    top:calc(65%);
    left: calc(15%);

    color: #122648;
    background: #c2d9e9;
    border: 1px solid #3fffef;
    border-radius: 10px;
    opacity: 0.85;
    overflow: hidden;
  }
  #chosenDiv{
    position: fixed;
        width: calc(60%);
        height: calc(85%);
        margin: 10px;
        border: 2px solid #2c80ff;
        border-radius: 10px;
        background-color: transparent;
        backdrop-filter: blur(5px);
       
  }
  #bubble{
margin: 20px;
position: fixed;
padding: 20px 12px;
font-family:HYLeMiaoTi; 
font-size: 25px;
line-height: 40px;
color: #c0ffef;
background: #1a4c96;
border: 1px solid #86f3ff;
border-radius: 10px;
opacity: 0.8;
}
.t1{
top:calc(10%);
left:calc(10%);
}
.t2{
top:calc(25%);
left:calc(20%);
}
.t3{
top:calc(45%);
left:calc(40%);
}
.t4{
top:calc(65%);
left:calc(50%);
}
.t5{
top:calc(28%);
left:calc(49%);
}
.t6{
top:calc(8%);
left:calc(70%);
}
.t7{
top:calc(69%);
left:calc(9%);
}
.tt1{
top:calc(39%);
left:calc(20%);
}
.tt2{
top:calc(55%);
left:calc(78%);
}
.tt3{
top:calc(5%);
left:calc(40%);
}
.tt4{
top:calc(20%);
left:calc(80%);
}
.tt5{
top:calc(77%);
left:calc(22%);
}
.tt6{
top:calc(66%);
left:calc(37%);
}
.tt7{
top:calc(51%);
left:calc(9%);
}
.tt8{
top:calc(36%);
left:calc(1%);
}
.tt9{
top:calc(75%);
left:calc(55%);
}
.way1{
top:calc(15%);
left:calc(40%);
}
.way2{
top:calc(50%);
left:calc(55%);
}
.way3{
top:calc(1%);
left:calc(1%);
}