#textDiv {
    height: 25vh;
    position: fixed;
    padding: 5vh 3vh;
    font-family:HYLeMiaoTi; 
    font-size: 3.5vw;
    line-height: 3.5vw;
    text-align: center;
    top:60vh;
    left: 35vh;

    color: #122648;
    background: #c2d9e9;
    border: 0.5vh solid #3fffef;
    border-radius: 1vh;
    opacity: 0.85;
    overflow: hidden;
  }
  #chosenDiv{
    position: fixed;
    width: calc(60%);
    height: calc(85%);
    margin: 10px;
    border: 2px solid #2c80ff;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 5;
  }

  #bubble{
margin: 20px;
position: fixed;
padding: 20px 12px;
font-family:HYLeMiaoTi; 
font-size: 25px;
line-height: 40px;
color: #c0ffef;
background: #1a4c96;
border: 1px solid #86f3ff;
border-radius: 10px;
opacity: 0.8;
}

#endMarker {
  position: fixed;
  z-index: 2;
  width: 0;
  height: 0;
  margin: 90vh 180vh;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-top: 3vh solid #00ffcc;
  animation: jump 0.5s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1vh);
  }
}