#textDiv {
    height: calc(20%);
    position: fixed;
    padding: 80px 40px;
    font-family:HYLeMiaoTi; 
    font-size: 90px;
    line-height: calc(100%);
    text-align: center;
    top:calc(65%);
    left: calc(15%);

    color: #122648;
    background: #c2d9e9;
    border: 1px solid #3fffef;
    border-radius: 10px;
    opacity: 0.85;
    overflow: hidden;
  }
  #bubble{
    position: relative;
    padding: 20px 12px;
    font-family:HYLeMiaoTi; 
    font-size: 45px;
    line-height: 40px;
    left: calc(65%);
    color: #c0ffef;
    background: #1a4c96;
    border: 1px solid #86f3ff;
    border-radius: 10px;
  }