body{
    background-color: rgb(248, 235, 213);
    margin: 0;
    padding: 0;
}
.top-bar {
background-color: #33333358;
color: #fff;
padding: 2.5vh;
text-align: center;
top: 0;
left: 0;
width: 100%;
box-sizing: border-box;

}

.top-bar h1 {
font-size: 6vh;
margin: 0;
}

.img1{
    width: 80vh;
    position: absolute;
    top:10vh;
    left:15vh;
    z-index: 1;
}
.img2 {  
    width: 80vh;
    position: absolute;
    top: 10vh;
    left: 110vh;
    z-index: 1;
}
.btn1{
    position: absolute;
    top: 17vh;
    left: 65vh;
}
.btn2 {
    position: absolute;
    top: 17vh;
    left: 160vh;
}
.btn3 {
    position: absolute;
    top: 40vh;
    left: 17vh;
}
.btn4 {
    position: absolute;
    top: 40vh;
    left: 70vh;
}
.btn5 {
    position: absolute;
    top: 40vh;
    left: 115vh;
}
.btn6 {
    position: absolute;
    top: 65vh;
    left: 12vh;
}
.btn7 {
    position: absolute;
    top: 65vh;
    left: 174vh;
}
.btn8 {
    position: absolute;
    top: 82vh;
    left: 67vh;
}
.btn9 {
    position: absolute;
    top: 82vh;
    left: 117vh;
}
.btn10{
    position: absolute;
        top: 82vh;
        left: 160vh;
}
.btn11 {
    position: absolute;
    top: 105vh;
    left: 60vh;
}
.btn-wrapper {
    z-index: 2;
    position: absolute;
    float: left;
    line-height: 45px;
    display: inline-block;
    margin-right: 2em;
    text-align: center;
}

#button1 {
    stroke-width: 6px;
    fill: transparent;
    stroke:#e1b700;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -228;
    transition: 1s all ease;
}

.btn-wrapper:hover #button1 {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #e1b700;
}

#text {
    margin-top: -60px;
    text-align: center;
}

#text a {
    color: #333;
    text-decoration: none;
    font-weight: 400;
}

#imageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

#imageContainer img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

body {
    overflow: hidden;
}
.btn0 {
    position: absolute;
    top: 5vh;
    left: 175vh;
}