body{
    background-color: rgb(248, 235, 213);
    margin: 0;
    padding: 0;
}
.top-bar {
background-color: #33333358;
color: #fff;
padding: 3vh;
text-align: center;
top: 0;
left: 0;
width: 100%;
box-sizing: border-box;

}

.top-bar h1 {
font-size: 7vh;
margin: 0;
}
img{
    margin-left:20vh ;
}
.set_7_btn-wrapper {
    float: left;
    width: auto;
    line-height: 45px;

    margin-right: 2em;
    text-align: center;
}
#set_7_button2 {
    stroke-width: 6px;
    fill: transparent;
    stroke: #ffd311;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -228;
    transition: 1s all ease;
}

.set_7_btn-wrapper:hover #set_7_button2 {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #ffd311;
}